---
title: Magnus Ottosson - Gothenburg based software developer
---

<header>
	<h1><span>I'm<strong>Magnus<br>Ottosson</strong>- A Senior Software Developer &amp; Creative</h1>
	<p>
		Currently: Freelance Developer Focused on Mobile Applications.<br>
		Previously: Founder at NIXON NIXON.<br>
		Drop me a line at <a href="mailto:<%= data.settings.contact.email %>"><%= data.settings.contact.email %></a>, check my <a href="<%= data.settings.social.linkedin %>">LinkedIn profile</a>, 
		or download my <a href="downloads/resume-magnus-ottosson.pdf">CV</a>. Below is a selection of my work.
	</p>
</header>

<section id="cases">

	<article id="case-where-is-the-bus" class="case">
		<figcaption>
			<h2>WHERE THE **** IS THE BUS?</h2>
		</figcaption>
		<figure>
			<img src="/images/case/var-ar-bussen.png" alt="Västtrafi - Where is the bus?">
		</figure>
	</article>
	
	<article id="case-gravidresan" class="case">
		<figcaption>
			<h2>Libero Gravidresan</h2>
		</figcaption>
		<figure>
			<img src="/images/case/libero-gravidresan.png" alt="Libero - Gravidresan">
		</figure>
	</article>

	<article id="case-kokbokshyllan" class="case">
		<figcaption>
			<h2>Kok<br>boks<br>hyllan</h2>
		</figcaption>
		<figure>
			<img src="/images/case/kokbokshyllan.png" alt="Kokbokshyllan">
		</figure>
	</article>

	<article id="case-gravidboken" class="case">
		<figcaption>
			<h2>Libero<br>Gravidboken</h2>
		</figcaption>
		<figure>
			<img src="/images/case/gravidboken.png" alt="Gravidboken">
		</figure>
	</article>

	<article id="case-ostbagsvalet" class="case">
		<figcaption>
			<h2>Estrella Ostbågsvalet</h2>
		</figcaption>
		<figure>
			<img src="/images/case/estrella-ostbagsvalet.png" alt="Ostbågsvalet">
		</figure>
	</article>

	<article id="case-okobooko" class="case">
		<figcaption>
			<h2>Okobooko</h2>
		</figcaption>
		<figure>
			<img src="/images/case/okobooko.png" alt="Okobooko">
		</figure>
	</article>

	<article id="case-liberoklubben" class="case">
		<figcaption>
			<h2>Libero-<br>klubben</h2>
		</figcaption>
		<figure>
			<img src="/images/case/liberoklubben.png" alt="Liberoklubben">
		</figure>
	</article>

	<article id="case-cook-and-bake" class="case">
		<figcaption>
			<h2>Cook &amp;<br>Bake</h2>
		</figcaption>
		<figure>
			<img src="/images/case/cook-and-bake.png" alt="Cook &amp; Bake">
		</figure>
	</article>

	<article id="case-husqvarna-sales-tool" class="case">
		<figcaption>
			<h2>Husqvarna Sales Tool</h2>
		</figcaption>
		<figure>
			<img src="/images/case/husqvarna-sales-tool.png" alt="Husqvarna Sales Tool">
		</figure>
	</article>

</section>

<footer>
	<p>
		For new projects, ideas, business inquiries or quotations, or anything you’d like to discuss, email me at <a href="mailto:<%= data.settings.contact.email %>"><%= data.settings.contact.email %></a>
	</p>
	<h3>Connect with me:</h3>
	<ul class="contact">
		<li><a href="mailto:<%= data.settings.contact.email %>"><%= data.settings.contact.email %></a></li>
		<li><a href="tel:<%= data.settings.contact.phone %>"><%= data.settings.contact.phone %></a></li>
		<li><a href="<%= data.settings.contact.web %>"><%= data.settings.contact.web %></a></li>
	</ul>
	<ul class="links">
		<li><a href="<%= data.settings.social.linkedin %>"><i class="fa fa-linkedin-square"></i></a></li>
		<li><a href="<%= data.settings.social.github %>"><i class="fa fa-github"></i></a></li>
		<li><a href="<%= data.settings.social.twitter %>"><i class="fa fa-twitter"></i></a></li>
	</ul>
</footer>