<header>
	<h1><%= I18n.t(:title_headline) %></h1>
	<p>
		<%= I18n.t(:intro) %>
	</p>
	<p>
		<%= I18n.t(:intro2, :email => mail_to(data.settings.contact.email), :linkedin => link_to("linkedin", data.settings.social.linkedin), :cv => link_to("resume", "/resume/MAGNUS-OTTOSSON.pdf")) %>
	</p>
</header>

<section id="cases">

	<article id="case-where-is-the-bus" class="case">
		<figcaption>
			<h2>WHERE THE **** IS THE BUS?</h2>
		</figcaption>
		<figure>
			<img src="/images/case/var-ar-bussen.png" alt="Västtrafi - Where is the bus?">
		</figure>
	</article>
	
	<article id="case-gravidresan" class="case">
		<figcaption>
			<h2>Libero<br>Gravidresan</h2>
		</figcaption>
		<figure>
			<img src="/images/case/libero-gravidresan.png" alt="Libero - Gravidresan">
		</figure>
	</article>

	<article id="case-kokbokshyllan" class="case">
		<figcaption>
			<h2>Kok<br>boks<br>hyllan</h2>
		</figcaption>
		<figure>
			<img src="/images/case/kokbokshyllan.png" alt="Kokbokshyllan">
		</figure>
	</article>

	<article id="case-gravidboken" class="case">
		<figcaption>
			<h2>Libero<br>Gravidboken</h2>
		</figcaption>
		<figure>
			<img src="/images/case/gravidboken.png" alt="Gravidboken">
		</figure>
	</article>

	<article id="case-ostbagsvalet" class="case">
		<figcaption>
			<h2>Estrella<br>Ostbågsvalet</h2>
		</figcaption>
		<figure>
			<img src="/images/case/estrella-ostbagsvalet.png" alt="Ostbågsvalet">
		</figure>
	</article>

	<article id="case-okobooko" class="case">
		<figcaption>
			<h2>Okobooko</h2>
		</figcaption>
		<figure>
			<img src="/images/case/okobooko.png" alt="Okobooko">
		</figure>
	</article>

	<article id="case-liberoklubben" class="case">
		<figcaption>
			<h2>Libero-<br>klubben</h2>
		</figcaption>
		<figure>
			<img src="/images/case/liberoklubben.png" alt="Liberoklubben">
		</figure>
	</article>

	<article id="case-cook-and-bake" class="case">
		<figcaption>
			<h2>Cook &amp;<br>Bake</h2>
		</figcaption>
		<figure>
			<img src="/images/case/cook-and-bake.png" alt="Cook &amp; Bake">
		</figure>
	</article>

	<article id="case-husqvarna-sales-tool" class="case">
		<figcaption>
			<h2>Husqvarna<br>Sales Tool</h2>
		</figcaption>
		<figure>
			<img src="/images/case/husqvarna-sales-tool.png" alt="Husqvarna Sales Tool">
		</figure>
	</article>

</section>

<footer>
	<p><%= I18n.t(:footer, :email => mail_to(data.settings.contact.email)) %></p>
	<ul class="links">
		<li><%= link_to('<i class="fa fa-linkedin-square"></i>', data.settings.social.linkedin) %></li>
		<li><%= link_to('<i class="fa fa-github-square"></i>', data.settings.social.github) %></li>
		<li><%= link_to('<i class="fa fa-twitter-square"></i>', data.settings.social.twitter) %></li>
	</ul>
</footer>